{% extends 'base.html' %}

{% block content %}
    {% if words_list %}
        <h1>Known words in database: {{ words_list.count }}</h1>
        <ul>
        {% for word in words_list %}
            <li><a href="{% url 'words:detail' word.id %}">{{ word.word_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No words are added to database.</p>
    {% endif %}
{% endblock content %}

{% block index %}
    <li class="active"><a href="{% url 'words:index' %}">Words</a></li>
{% endblock index %}
