{% extends 'base.html' %}

{% block content %}
  {% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}

  <h2><span class="label label-default">Text to parse</span></h2>

  <form action="{% url 'words:extract' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <textarea name="text" class="form-control" autofocus="autofocus" placeholder="text" id="text" rows="16"
                cols="80"></textarea><br/>
    </div>
    <button type="submit" class="btn btn-info">Parse</button>
  </form>
{% endblock content %}

{% block parse %}
  <li class="active"><a href="{% url 'words:parse' %}">Parse text</a></li>
{% endblock parse %}
