{% extends 'base.html' %}
{% block content %}
  <h2><span class="label label-default">Saved words</span></h2>
  {% if words %}
    <p>
      {% for word in words %}
        <span class="label label-success">{{ word }}</span>
      {% endfor %}
    </p>
  {% else %}
    <div class="alert alert-warning">No new known words were found !</div>
  {% endif %}

  <form action="{% url 'words:index' %}" method="get">
    <button type="submit" class="btn btn-primary">Words list</button>
  </form>
{% endblock content %}

{% block parse %}
  <li class="active"><a href="{% url 'words:parse' %}">Parse text</a></li>
{% endblock parse %}
